@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Kantumruy Pro", system-ui, -apple-system, sans-serif;
    line-height: 1.7;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    @apply min-w-[320px] min-h-screen text-[15px];
    font-family: "Kantumruy Pro", sans-serif;
  }

  input,
  button,
  select,
  textarea,
  optgroup,
  .ant-input,
  .ant-select,
  .ant-btn,
  .ant-table,
  .ant-message,
  .ant-notification,
  .ant-modal,
  .ant-modal-title,
  .ant-select-selection-item,
  .ant-picker {
    font-family: "Kantumruy Pro", sans-serif !important;
  }

  h1 {
    @apply text-[2.5em] leading-[1.2];
  }

  a {
    @apply font-medium text-[#646cff] no-underline transition-colors duration-300;
  }

  a:hover {
    @apply text-[#535bf2];
  }

  button {
    @apply rounded-[8px] border border-transparent px-[1.2em] py-[0.6em] text-[1em] font-medium bg-[#1a1a1a] cursor-pointer transition-colors duration-300;
  }

  button:hover {
    @apply border-[#646cff];
  }
}

#root {
  @apply w-full min-h-screen;
}

.layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: #fff;
  height: 80px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.txt-brandname {
  @apply text-[22px] font-bold leading-[1.2];
}

.txt-username {
  @apply text-[16px] font-bold leading-[1.2];
}

.layout-logo {
  @apply w-[45px] h-[45px] object-contain;
}

.layout-profile {
  @apply w-[45px] h-[45px] rounded-full object-cover;
}

.main-page-header {
  @apply flex justify-between mb-[10px];
}

.logo {
  @apply h-[6em] p-[1.5em] transition-[filter] duration-300;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    @apply text-[#747bff];
  }

  button {
    @apply bg-[#f9f9f9] text-[#213547] border-[#ddd];
  }
}